nav {
    display: flex;
	justify-content: space-between;
    align-items: center;
    color: violet;
    font-size:large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:darkblue;
}

nav ul li{
    float: left;
    position: relative;
    margin: 10px;
    top: 20px;
    right:40em;
}

img {
    width: 30%;
    border: solid 5px blueviolet;
    border-radius: 3rem;
    margin-left: 3px;
}
h1{
    font-size: 2cm;
    position: absolute;
    margin-left: 400px;
}
h3{
    font-size: 2cm;
    position: absolute;
    margin-left: 900px;
}